[Unit]
Description=Update taj-p development settings every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=true
Unit=dotfiles-settings-sync.service

[Install]
WantedBy=timers.target

